.filter{
    overflow: hidden;
    width: 100%;
    background-color: #f2f2f2;
    justify-content: space-between;
    border-radius: 10px;
    max-height: 0px;
    transition: max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.clean{
    width: 100%;
    padding: 10px;
    text-align: right;
    cursor: pointer;
}
.clean:hover{
    color:var(--bluePuplePrimary); 
}
.openFilter{
    max-height: 1000px;
}
.closeFilter{
    max-height: 0px;
}
.typeFilter{
    width: 24%;
    font-family: Arial, sans-serif;

}
.typeFilter ul{
  display: block;
  width: 50%;
  margin: 0 auto;
}
.typeFilter:last-child ul{
    width: 80%;
}
.typeFilter h4{
    font-size: 18px;
    padding: 15px 0;
}


.typeFilter li{
    font-size: 16px;
    padding-bottom: 5px;
    color:#aaa;
    cursor: pointer;
}
.typeFilter li:hover{
    color:var(--bluePuplePrimary);
    text-decoration: underline;
    text-decoration-color:var(--bluePuplePrimary) ;
}
.typeFilter li:first-child{
    color:var(--blackDefault);
    text-decoration: none;
}
.typeFilter .liActive{
    color:var(--bluePuplePrimary);
    text-decoration: underline;
    text-decoration-color:var(--bluePuplePrimary) ;
    border-color:var(--bluePuplePrimary);
}

.tagFlex{
    justify-content: space-between;
}
.tag {
    width: 49%;
    margin-bottom: 10px;
    border:1px solid #aaa;
    padding: 4px 10px;
    border-radius:15px ;
    color: #aaa;
    cursor: pointer;
}
.tag:hover{
    border-color: var(--bluePuplePrimary);
    color:var(--bluePuplePrimary);
}
.tagActive{
    border-color: var(--bluePuplePrimary);
    color:var(--bluePuplePrimary); 

}


@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 992px) {
.filter{
    margin: 15px 0;
}    
.typeFilter{
    width: 50%;
}
.typeFilter ul{
     width: 100%;
    padding: 0 20px;     
}
.typeFilter:last-child ul{
    width: 100%;
}  
}
    
@media only screen and (max-width: 600px) {
.filter{
    margin: 15px 0;
}    
.typeFilter{
    width: 100%;
}
.typeFilter ul{
    
    width: 100%;
    padding: 0 20px;     
}
.typeFilter:last-child ul{
    width: 100%;
}  
}
