.icons{
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}
.iconAbsolute > div{
    margin-left: 10px;
}
.iconAbsolute{
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 768px) {
.icons{
    padding-top: 5px;
    padding-bottom: 40px;

}    
}
