.productItem{
    width: 95%;
    justify-content: space-between;
    margin-top: 10px;
   
}
.productItem > div:first-child{
    width: 30%;
    
}
.productItem > div:last-child{
    position: relative;
    width: 60%;

  
}
.productItem div:first-child img{
    width: 100%;
}

.removeProductItem{
    position: relative  ;
   padding-bottom:15px ;
   
}
.removeProductItem > div{
    position: absolute  ;
    right: 0;
   
}
.buttonCloseVariant {
    font-size: 15px;
    
}

.infoProduct div{
    padding: 10px 0;
}

@media only screen and (max-width: 992px) {
   
}   
        
 @media only screen and (max-width: 600px) {
    
}
 @media only screen and (max-width: 350px) {
    

}
    