.evaluationItem{
    margin: 20px 0;
    padding: 20px 30px;
    background-color: var(--grayLighter);
    border-radius: 15px;
}
.evaluationItem > header{
    margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
    .evaluationItem{
        padding: 20px 10px;
    }
}
    
@media only screen and (max-width: 600px) {
    .evaluationItem{
        padding: 20px 10px;
    }

}
