.images{
    justify-content: space-between;
}
.images img{
    width: 100%;
    transition: all 2s;
}

.listImages{
    width: 10%;
}
.singleImage{
    width: 80%;
}


@media only screen and (max-width: 992px) {
    .listImages{
        width: 20%;
    }
    .singleImage{
        width: 75%;
    }
}
    
@media only screen and (max-width: 600px) {
    .listImages{
        width: 20%;
    }
    .singleImage{
        width: 75%;
    }
}
