.listEvaluation{
    
    padding: 20px;
}
.listEvaluation > header{

    padding: 20px 30px;
}
.listEvaluation > div{
    padding: 20px;
    overflow-y: scroll;
    max-height: 600px;
}
.loading{
    width: 100%;
    margin: 50px;
}
@media only screen and (max-width: 992px) {
    .listEvaluation > div{
        padding: 0;

      
    }
}
    
@media only screen and (max-width: 600px) {
    .listEvaluation{
        padding: 0px;
    }
    .listEvaluation > header{

        padding: 0 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .listEvaluation > div{
        padding: 0 5px;

      
    }

}
