.listEvaluation{
    
    padding: 20px;
}
.listEvaluation > header{

    padding: 20px 30px;
}
.listEvaluation > div{
    padding: 20px;
    overflow-y: scroll;
    max-height: 600px;
}
.loading{
    width: 100%;
    margin: 50px;
}