.button{
    background-color: var(--bluePuplePrimary);
    color:white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 5px;
    outline: none;
    border-color: var(--bluePuplePrimary);
}
.button:hover{
    background-color: var(--bluePupleSegundary);
}