.imageProfileCurrent{
    width: 25%;
    margin: 30px auto;
}
.otherImages{
    width: 100%;
    margin:  0 auto;
}

.otherImages h4{
   display: block;
   width: 100%;
   padding: 10px 0;
}
.otherImages div{
    width: 33%;
    margin:  0 auto;
}