*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 list-style-type: none;
 font-family: Arial, Helvetica, sans-serif;

  --grayLighter:#e6e6e6;
  --blackDefault:#222;
  --bluePuplePrimary:#717fe0;
  --bluePupleSegundary:#7189e0;

  --fontFamilyPrimary : Poppins-Medium;
}