.thankPurchase{
    position: relative;
    min-height: 100vh;
    background-color: var(--bluePuplePrimary);
    color: white;

}
.infoPurchase{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-30%);
    font-size: 30px;
    color:white;

} 
.infoPurchase a{
    color: white;
    font-size: 18px;
}
.infoPurchase div:last-child{
    cursor: pointer;
    text-decoration: underline;
    margin: 10px 0;

} 

@media only screen and (max-width: 992px) {
    
    }
    
@media only screen and (max-width: 600px) {
    .infoPurchase{
         font-size: 18px;
         left: 40%;
         transform: translate(-50%,-40%);
         
    } 
   
}